<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.kaiwukj.android.communityhui">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name="com.kaiwukj.android.mcas.base.BaseApplication"
        android:allowBackup="true"
        android:appComponentFactory="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">

        <meta-data
            android:name="com.kaiwukj.android.communityhui.app.impl.GlobalConfiguration"
            android:value="ConfigModule"/>
        <meta-data
            android:name="design_width_in_dp"
            android:value="375"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="667"/> <!-- 启动 -->
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity> <!-- 登录 -->
        <activity
            android:name=".mvp.ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginInputEditLayout">
        </activity> <!-- 我的主页 -->
        <activity
            android:name=".mvp.ui.activity.EditMineInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackStyle"/> <!-- 我的订单及其他 -->
        <activity
            android:name=".mvp.ui.activity.MineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackStyle"/> <!-- 门店 -->
        <activity
            android:name=".mvp.ui.activity.StoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackStyle"/>
        <activity
            android:name=".mvp.ui.activity.AppointmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackStyle">

        </activity> <!-- 家政 -->
        <activity
            android:name=".mvp.ui.activity.HouseKeepActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackStyle"/>
        <!--圈子-->
        <activity
            android:name=".mvp.ui.activity.SocialCircleListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackStyle">
        </activity>
        <!--圈子-->
        <activity
            android:name=".mvp.ui.activity.SocialCircleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackStyle">
        </activity>

    </application>

</manifest>