<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.kaiwukj.android.communityhui">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name="com.kaiwukj.android.mcas.base.BaseApplication"
        android:allowBackup="true"
        android:appComponentFactory="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">


        <meta-data
            android:name="com.kaiwukj.android.communityhui.app.impl.GlobalConfiguration"
            android:value="ConfigModule"/>
        <meta-data
            android:name="design_width_in_dp"
            android:value="375"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="667"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.kaiwukj.android.communityhui.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider> <!-- 启动 -->
        <activity
            android:name=".app.base.BootScreenActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/BootScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity> <!-- 登录 -->
        <activity
            android:name=".mvp.ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginInputEditLayout">
        </activity> <!-- 我的主页 -->
        <activity
            android:name=".mvp.ui.activity.EditMineInfoActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackStyle"/> <!-- 我的订单及其他 -->
        <activity
            android:name=".mvp.ui.activity.MineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackStyle"/> <!-- 门店 -->
        <activity
            android:name=".mvp.ui.activity.StoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackStyle"/>
        <activity
            android:name=".mvp.ui.activity.AppointmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackStyle">
        </activity> <!-- 家政 -->
        <activity
            android:name=".mvp.ui.activity.HouseKeepActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackStyle"/> <!-- 圈子 -->
        <activity
            android:name=".mvp.ui.activity.SocialCircleListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackStyle">
        </activity> <!-- 圈子 -->

        <activity android:name=".mvp.ui.activity.ChatActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/SwipeBackStyle">
        </activity>
        <activity
            android:name=".mvp.ui.activity.SocialCircleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackStyle">
        </activity> <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1115190326030529#communityhui"/> <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true"/>
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/> <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
    </application>

</manifest>